<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.gtmp.snake">
    <application android:label="SnakeWithPerl!">
      <activity android:name="Snake"
        android:screenOrientation="portrait"
        android:configChanges="keyboardHidden|orientation">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>
    </application>
</manifest> 
